{{> regions-header }}
{{> regions-navigation }}
{{> regions-preface }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content layout-constrain">

    {{> components-page-title }}

    {{# listItems.five }}
      {{> components-image-teaser }}
    {{/ listItems.five }}

    {{> components-pager }}

  </div>
</main>

{{> regions-postscript }}
{{> regions-footer }}
