{{> regions-header }}
{{> regions-navigation }}
{{> regions-preface }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content layout-constrain">

    {{> components-topic }}

  </div>
</main>

{{> regions-postscript }}
{{> regions-footer }}
